.carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-carrito{
     height: 100px;
}

.carrito-contador{
    display: flex;
       
}

.formulario{
    margin: 10px;
    height: 30px;
    text-align: center;
}